.wrapper {
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    img {
      width: 15%;
    }
  }
}
.body {
  h2 {
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    font-size: var(--font-size30);
    margin-bottom: 10px;
  }

  .itemList {
    display: flex;
    justify-content: space-between;
    .item {
      width: 24%;
    }
  }

  .suggest {
    width: 100%;
    height: 108px;
    background-color: #111;
    margin: 50px 0;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #878a8c;
      font-size: var(--font-size17);
      span {
        color: var(--text-color-white);
        text-decoration: underline;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: #d6b67b;
    }
  }
}

/* Tablet - PC with low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .body {
    h2 {
      font-size: var(--font-size24);
    }

    .itemList {
      flex-wrap: wrap;
      .item {
        width: 48%;
      }
    }
  }
}

/* Mobile */
@media (max-width: 739px) {
  .image {
    img {
      width: 30% !important;
    }
  }
  .body {
    h2 {
      font-size: var(--font-size24);
    }

    .itemList {
      flex-wrap: wrap;
      .item {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
