.wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: #fff;
  animation: Show linear 0.2s;
  width: 100%;
  // height: 61px;
  border-bottom: 1px solid #ddd;

  @keyframes Show {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
.container {
  display: flex;
  height: 100%;
  align-items: center;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
    }
  }
  .btnNavRes {
    position: absolute;
    right: 0;
    margin-right: 30px;
    font-size: var(--font-size20);

    display: none;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
.navRes__wrapper {
  .navRes__overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: showOverlay linear 0.2s;
  }
  @keyframes showOverlay {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .navRes__container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 250px;
    background-color: #232c38;
    z-index: 101;
    color: var(--text-color-white);

    .navRes__btnClose {
      position: absolute;
      top: 0;
      right: 0;
      font-size: var(--font-size24);
      margin-top: 20px;
      margin-right: 20px;
      cursor: pointer;

      &:hover {
        color: #eac989;
      }
    }

    .navRes__contact {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-top: 70px;
      margin-bottom: 20px;

      div {
        position: relative;
        span {
          position: absolute;
          top: -10px;
          left: 22px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: #eac989;
          color: var(--text-color-white);

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      i {
        font-size: var(--font-size20);
        &:hover {
          color: #eac989;
          cursor: pointer;
        }
      }

      .navRes__price {
        font-size: var(--font-size20);
        &:hover {
          color: #eac989;
          cursor: pointer;
        }
      }
    }

    .navRes__menu {
      text-transform: uppercase;
      font-size: var(--font-size13);
      font-weight: var(--font-weight-semiMedium);
      width: 100%;

      .nav__item {
        padding: 10px 0 10px 20px;
        border-top: 1px solid #505a67;
        &:last-child {
          border-bottom: 1px solid #505a67;
        }
        &:hover {
          color: #eac989;
          cursor: pointer;
        }
      }
    }
  }
  .navRes__subMenu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size13);

    span {
      height: 20%;
      width: 1px;
      border-left: 1px solid white;
      margin: 0 10px;
    }
    p {
      &:hover {
        color: #eac989;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

/* PC with low resolution */
@media (min-width: 1024px) and (max-width: 1270px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    .logo {
      padding: 10px 0;
      img {
        width: 60%;
      }
    }
  }
  .headerNav {
    display: none;
  }
  .btnNavRes {
    display: block !important;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    .logo {
      padding: 10px 0;
      img {
        width: 60%;
      }
    }
  }
  .btnNavRes {
    display: block !important;
  }
}
