.wrapper {
  background-color: #fff;
  .container {
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 150px;
        height: 10px;
        margin: 50px 0;
      }

      p {
        font-family: "Bodoni Moda", serif;
        font-size: var(--font-size30);
        //   width: 40%;
        text-align: center;
        margin-bottom: 50px;
      }

      h2 {
        font-family: "Bodoni Moda", serif;
        font-size: var(--font-size52);
        text-align: center;
        margin-bottom: 50px;
      }
    }

    .productList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .productListItem {
        width: 24%;
        margin-bottom: 20px;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0;

      :first-child {
        background-color: #111;
        color: var(--text-color-white);
        margin-right: 20px;
      }

      :nth-child(2) {
        color: #626262;
        background-color: #ececec;
      }

      button {
        font-size: var(--font-size15);
        font-weight: var(--font-weight-semiBold);
        text-transform: uppercase;
        border: none;
        outline: none;
        padding: 18px 40px;
        border-radius: 5px;

        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
      }
    }
  }
}

/* Tablet - PC with low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .header {
    img {
      width: 150px;
      height: 10px;
      margin: 50px 0;
    }

    p {
      font-size: var(--font-size26) !important;
    }

    h2 {
      font-size: var(--font-size48) !important;
    }
  }
  .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .productListItem {
      width: 48% !important;
      margin-bottom: 20px;
    }
  }
}

/* Mobile */
@media (max-width: 739px) {
  .header {
    img {
      width: 150px;
      height: 10px;
      margin: 50px 0;
    }

    p {
      font-size: var(--font-size20) !important;
    }

    h2 {
      font-size: var(--font-size42) !important;
    }
  }
  .productList {
    justify-content: center !important;
    .productListItem {
      width: 90% !important;
    }
  }
  .button {
    flex-direction: column;

    :first-child {
      margin-right: 0 !important;
      margin-bottom: 20px;
    }

    button {
      width: 100%;
    }
  }
}
