.wrapper {
  background-color: #fcfcfc;
}
.body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 120px 0;

  .productInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;

    .header {
      h1 {
        font-size: var(--font-size55);
        font-family: "Bodoni Moda", serif;
        font-weight: 500;
        margin-bottom: 20px;
      }
      p {
        font-size: var(--font-size20);
      }
    }

    .list {
      ul {
        list-style-type: disc !important;
        color: #69717c;
        font-size: var(--font-size17);
        font-weight: var(--font-weight-light);
        margin-left: 20px;

        li {
          padding: 10px 0;
        }
      }
    }

    .madeOf {
      color: #69717c;
      font-size: var(--font-size17);
    }

    .sizeChart {
      display: flex;
      align-items: center;
      color: #eac989;
      margin: 20px 0;

      i {
        font-size: var(--font-size20);
        margin-right: 10px;
        cursor: pointer;
      }

      p {
        font-size: var(--font-size17);
        margin-bottom: 0;
        cursor: pointer;
      }
    }

    .price {
      display: flex;
      align-items: center;
      color: #eac989;
      font-weight: var(--font-weight-light);
      margin-bottom: 20px;

      .priceHidden {
        text-decoration: line-through;
        font-size: var(--font-size32);
        margin-right: 20px;
      }

      .priceShow {
        font-size: var(--font-size42);
      }
    }

    .height {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;

      p {
        font-size: var(--font-size17);
        width: 150px;
      }

      .heightList {
        display: flex;

        .heightItem {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: var(--font-size14);
          width: 38px;
          height: 32px;
          margin-right: 10px;
          border: 1px solid #eee;
          border-radius: 3px;

          &:hover {
            border-color: #ccc;
            cursor: pointer;
          }
        }

        .heightActive {
          border-color: #ccc;
        }
      }
    }

    .age {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;

      p {
        font-size: var(--font-size17);
        width: 150px;
      }

      select {
        width: 230px;
        height: 40px;
        background-color: #eff2f6;
        outline: none;
        border: none;
        font-size: var(--font-size15);
        padding-left: 10px;

        option {
        }
      }
    }

    .colorList {
      display: flex;
      align-items: center;

      p {
        font-size: var(--font-size17);
        width: 150px;

        margin-bottom: 0;
      }

      .colorItem {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

      .colorActive {
        border: 3px solid black;
      }
    }

    .contact {
      display: flex;
      width: 100%;
      margin: 30px 0;
      height: 50px;

      .quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        height: 100%;
        margin-right: 20px;
        background-color: #eff2f6;
        font-size: var(--font-size20);
        padding: 5px 10px;
        border-radius: 5px;

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 100%;
          &:hover {
            cursor: pointer;
            background-color: #dee1e9;
          }
        }
      }

      .product__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-color: #111;
        opacity: 0.6;
        font-size: var(--font-size17);

        color: var(--text-color-white);
        border-radius: 5px;
        flex: 1;

        &:hover {
          cursor: no-drop;
        }
      }
      .product__btnActive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #111;
        color: var(--text-color-white);
        font-size: var(--font-size17);
        font-weight: var(--font-weight-medium);

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }

    .desc {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: 130px;

      .desc__seaprate {
        height: 100%;
        border-right: 1px solid #ddd;
      }

      .tag,
      .catagory,
      .SKU {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;

        p {
          font-size: var(--font-size17);
          color: #69717c;
          margin-bottom: 5px;
        }
      }

      .tag {
        .tag__list {
          display: flex;
          flex-wrap: wrap;
          padding: 0 10px;

          p {
            background-color: #f7f7f7;
            border-radius: 2px;
            padding: 5px;
            margin-right: 5px;

            &:hover {
              background-color: #e0dada;
              cursor: pointer;
            }
          }
        }
      }

      .catagory {
        .catagory__list {
          display: flex;
          flex-wrap: wrap;
          padding: 0 10px;

          p {
            color: #eac989;
            padding: 10px;
            font-size: var(--font-size17);
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }

      .SKU {
        span {
          color: #8a8b8e;
          font-size: var(--font-size13);
          padding: 8px 10px;
          border: 1px solid #ddd;
          border-radius: 5px;
        }
      }
    }
  }

  .productImage {
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
    max-height: 63vh;
    // height: 100%;

    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    // margin-left: 20px;

    .listImage {
      width: 30%;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: flex-end;
      justify-content: center;
      img {
        // height: 100%;
        width: 50%;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
    .image {
      img {
        width: 100%;
      }
    }
  }
}
.sizeChart__modal {
  position: relative;

  .sizeChart__overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .sizeChart__container {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 150px;
    background-color: #fff;

    width: 400px;
    height: 370px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    .sizeChart__btnClose {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 20px;
      margin-right: 30px;
      cursor: pointer;
      i {
        font-size: var(--font-size20);
      }
    }

    h4 {
      width: 100%;
      text-align: center;
      font-size: var(--font-size20);
      font-family: "Bodoni Moda", serif;
      margin-bottom: 30px;
    }

    table {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 15px;
      border-collapse: collapse;
      border-spacing: 0;
      border-radius: 5px;

      thead {
        text-align: center;
        font-size: var(--font-size17);
        font-weight: var(--font-weight-medium);
        th {
          border: 1px solid #ddd;
          padding: 10px;
          background-color: #f9f9f9;
        }
      }
      tbody {
        text-align: center;
        font-size: var(--font-size14);

        tr {
          &:nth-child(2) {
            background-color: #f9f9f9;
          }
          &:nth-child(4) {
            background-color: #f9f9f9;
          }
        }
        td {
          border: 1px solid #ddd;
          padding: 10px;
        }
      }
    }
  }
}

/* Tablet - PC with low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .body {
    flex-direction: column !important;
    .productInfo {
      width: 100%;
      .header {
        h1 {
          font-size: var(--font-size45);
        }
        p {
          font-size: var(--font-size18);
        }
      }
      .list {
        ul {
          font-size: var(--font-size14);
        }
      }
      .madeOf {
        font-size: var(--font-size14);
      }
      .sizeChart {
        i {
          font-size: var(--font-size18);
          margin-right: 10px;
        }

        p {
          font-size: var(--font-size14);
          margin-bottom: 0;
        }
      }

      .price {
        .priceHidden {
          font-size: var(--font-size28);
        }

        .priceShow {
          font-size: var(--font-size38);
        }
      }

      .contact {
        .quantity {
          font-size: var(--font-size18);
        }
      }
    }
    .productImage {
      width: 100% !important;
      align-items: center;
      justify-content: center;
    }
  }
}

/* Mobile */
@media (max-width: 739px) {
  .body {
    flex-direction: column !important;
    .productInfo {
      width: 100% !important;
      .header {
        h1 {
          font-size: var(--font-size30);
        }
        p {
          font-size: var(--font-size12);
        }
      }
      .list {
        ul {
          font-size: var(--font-size12);
        }
      }
      .madeOf {
        font-size: var(--font-size12);
      }
      .sizeChart {
        i {
          font-size: var(--font-size14);
          margin-right: 10px;
        }

        p {
          font-size: var(--font-size12);
          margin-bottom: 0;
        }
      }

      .price {
        .priceHidden {
          font-size: var(--font-size24);
        }

        .priceShow {
          font-size: var(--font-size32);
        }
      }

      .contact {
        .quantity {
          font-size: var(--font-size14);
        }
      }

      .tag__list {
        p {
          font-size: var(--font-size14) !important;
        }
      }
    }
    .productImage {
      width: 100% !important;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }
  }
  .age {
    p {
      width: 60px !important;
    }
  }
  .height {
    p {
      width: 60px !important;
    }
  }
  .colorList {
    p {
      width: 60px !important;
    }
  }
}
