.wrapper {
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .titleList {
    display: flex;
    font-size: var(--font-size26);
    margin-top: 80px;
    margin-bottom: 100px;

    div {
      margin: 0 30px;
      padding: 10px 16px;
    }
  }

  .subTitle {
    font-size: var(--font-size20);
    text-align: center;
    color: #373f4b;
  }

  .highLight {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 350px;
    margin-bottom: 30px;

    .item {
      width: 40%;
      margin-bottom: 20px;
      margin-top: 30px;
      p {
        display: flex;
        justify-content: center;
        font-size: var(--font-size14);
        font-weight: var(--font-weight-medium);
        margin-bottom: 10px;
      }

      .itemList {
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          color: var(--text-color-white);

          i {
            font-size: var(--font-size20);
          }
        }
      }

      .activeFriendly {
      }
    }
  }

  .imageAD {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .imageAD__item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      width: 49%;
      // height: 210px;
      padding: 20px;
      background-color: #fafafa;
      img {
        width: 50%;
        height: auto;
      }

      .imageAD__desc {
        margin-left: 20px;
        p {
          font-family: "Bodoni Moda", serif;
          font-size: var(--font-size20);
          margin-bottom: 10px;
        }
        span {
          color: #6e7680;
          font-size: var(--font-size17);
          line-height: 1.8;
        }
      }
    }
  }

  .desc1,
  .desc2 {
    font-size: var(--font-size17);
    text-align: center;
    color: #6e7680;
    margin-top: 30px;
  }

  .desc2 {
    margin-bottom: 100px;
  }
}

/* PC with low resolution */
@media (min-width: 1024px) and (max-width: 1270px) {
  .highLight {
    padding: 0 250px !important;
    .item {
      p {
        font-size: var(--font-size12) !important;
      }

      .itemList {
        p {
          i {
            font-size: var(--font-size18);
          }
        }
      }

      .activeFriendly {
      }
    }
  }
}

/* Tablet - PC with low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .highLight {
    padding: 0 100px !important;
    .item {
      p {
        font-size: var(--font-size12) !important;
      }

      .itemList {
        p {
          i {
            font-size: var(--font-size18);
          }
        }
      }
    }
  }
  .imageAD {
    flex-direction: column !important;
    .imageAD__item {
      width: 100% !important;
    }
  }
}

/* Mobile */
@media (max-width: 739px) {
  .titleList {
    flex-wrap: wrap !important;
    justify-content: center !important;
    font-size: var(--font-size20) !important;
  }
  .subTitle {
    font-size: var(--font-size18) !important;
  }
  .highLight {
    padding: 0 !important;
    .item {
      width: 100% !important;
      p {
        font-size: var(--font-size12) !important;
      }

      .itemList {
        justify-content: center !important;

        p {
          margin: 0 10px !important;
          i {
            font-size: var(--font-size18);
          }
        }
      }
    }
  }
  .imageAD {
    flex-direction: column !important;
    .imageAD__item {
      width: 100% !important;
      flex-direction: column !important;
      img {
        width: 100% !important;
      }
    }
  }
}
