.wrapper {
  position: relative;
  display: flex;
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .title {
      display: flex;
      align-items: center;
      font-size: var(--font-size17);
      height: 100%;
      margin: 30px 0;

      p {
        color: #aaa;
      }

      a {
        color: var(--text-color-black);
        margin-left: 5px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      span {
        height: 25%;
        border-right: 1px solid #333;
        margin: 0 5px;
      }
    }

    .link {
      display: flex;
      font-size: var(--font-size17);
      color: var(--text-color-black);

      .link__item {
        margin-left: 20px;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

/* Tablet - PC with low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    flex-direction: column;
    .title {
      margin: 20px 0;
    }
    .link {
      margin-bottom: 20px;
    }
  }
}

/* Mobile */
@media (max-width: 739px) {
  .container {
    flex-direction: column;
    .title {
      margin: 20px 0;
      font-size: var(--font-size12) !important;
      justify-content: center !important;
      flex-wrap: wrap;
    }
    .link {
      font-size: var(--font-size12) !important;
      flex-wrap: wrap;
      justify-content: center !important;

      margin-bottom: 20px;
    }
  }
}
