.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  border-bottom: 1px solid #ddd;

  img {
    width: 210px;
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }
}
