.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }

  .name {
    font-size: var(--font-size20);
    text-align: center;
  }

  .colorList {
    display: flex;

    .colorItem {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}
