.wrapper {
  background-color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 120px;

      p {
        font-size: var(--font-size55);
        font-family: "Bodoni Moda", serif;
        font-weight: 600;
        text-align: center;
      }
      span {
        font-size: var(--font-size20);
        font-weight: var(--font-weight-semiMedium);
        text-align: center;
        color: #374273;
        margin: 20px 0;
      }
    }

    .body {
      display: flex;
      justify-content: space-between;
      // width: 100%;

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 20%;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 40%;
          }

          p {
            font-size: var(--font-size14);
            font-weight: var(--font-weight-semiBold);
            margin: 15px 0;
          }

          span {
            text-align: center;
            font-size: var(--font-size17);
          }
        }
        .separate {
          width: 50%;
          margin: 50px 0;
        }
      }

      .center {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 80%;
        }
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 90px;
      text-transform: uppercase;
      font-size: var(--font-size15);
      padding: 18px 40px;
      background-color: #171b20;
      color: var(--text-color-white);
      border: none;
      outline: none;
      border-radius: 5px;
      font-weight: var(--font-weight-semiBold);

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .board {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 458px;
      margin: 120px 0;

      .board__left {
        position: relative;
        width: 65%;

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.3);
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
        }

        .content {
          position: absolute;
          bottom: 0;
          color: var(--text-color-white);
          margin-bottom: 20px;
          margin-left: 20px;

          .content__header {
            display: flex;
            align-items: center;
            font-size: var(--font-size17);
            i {
              margin-right: 10px;
            }
            p {
              margin-right: 10px;
            }
          }
          .content__footer {
            font-size: var(--font-size30);
            font-family: "Bodoni Moda", serif;
          }
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 5px;
          background-color: #fff;
          margin-bottom: 15px;
          margin-left: 20px;
        }

        &:hover {
          cursor: pointer;
        }

        &:hover .content {
          margin-bottom: 40px;
          transition: margin-bottom linear 0.2s;
        }

        &:hover::after {
          width: 150px;
          transition: width linear 0.2s;
        }
        &:hover .overlay {
          display: block;
        }
      }

      .board__right {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .board__rightTop {
          height: 50%;
          position: relative;
          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            display: none;
          }

          img {
            width: 100%;
            height: 100%;
          }
          .content {
            position: absolute;
            bottom: 0;
            color: var(--text-color-white);
            margin-bottom: 20px;
            margin-left: 20px;

            .content__header {
              display: flex;
              align-items: center;
              font-size: var(--font-size12);
              i {
                margin-right: 10px;
              }
              p {
                margin-right: 10px;
              }
            }
            .content__footer {
              font-size: var(--font-size24);
              font-family: "Bodoni Moda", serif;
            }
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 5px;
            background-color: #fff;
            margin-bottom: 15px;
            margin-left: 20px;
          }

          &:hover {
            cursor: pointer;
          }

          &:hover .content {
            margin-bottom: 40px;
            transition: margin-bottom linear 0.2s;
          }

          &:hover::after {
            width: 150px;
            transition: width linear 0.2s;
          }
          &:hover .overlay {
            display: block;
          }
        }

        .board__rightBottom {
          height: 50%;
          position: relative;
          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            display: none;
          }
          img {
            width: 100%;
            height: 100%;
          }
          .content {
            position: absolute;
            bottom: 0;
            color: var(--text-color-white);
            margin-bottom: 20px;
            margin-left: 20px;

            .content__header {
              display: flex;
              align-items: center;
              font-size: var(--font-size12);
              i {
                margin-right: 10px;
              }
              p {
                margin-right: 10px;
              }
            }
            .content__footer {
              font-size: var(--font-size24);
              font-family: "Bodoni Moda", serif;
            }
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 5px;
            background-color: #fff;
            margin-bottom: 15px;
            margin-left: 20px;
          }

          &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.5) !important;
          }

          &:hover .content {
            margin-bottom: 40px;
            transition: margin-bottom linear 0.2s;
          }

          &:hover::after {
            width: 150px;
            transition: width linear 0.2s;
          }
          &:hover .overlay {
            display: block;
          }
        }
      }
    }
  }
}

/* Tablet - PC with low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .header {
    p {
      font-size: var(--font-size45) !important;
    }
    span {
      font-size: var(--font-size16) !important;
    }
  }
}

/* Mobile */
@media (max-width: 739px) {
  .wide {
    width: 100%;
    padding: 0 20px;
  }
}
